<!DOCTYPE html>
<html lang="es">
{% block title %}    <title>Resultado de la operacion</title> {% endblock %}
<head>
    <meta charset="UTF-8">

</head>
<body>
{% block body %}Resultado de la operacion: {{ op1 }} {{ operacion }} {{ op2 }} =  {{ resultado }} {% endblock %}
</body>
</html>